/* Universal styles */

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.main {
  max-width: 960px;
  margin: 0 auto;
}

span {
  color: white;
}

/* Company Header and Navigation */

.container {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 1rem;
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

.menu {
  display: none;
}

/* Banner */

header {
  background-image: url(../images/glasses-bg.png);
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin: 0;
}

.banner {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10rem;
  left: 12.5rem;
}

/* Services */

.exams img {
  width: 3.5rem;
}

.fittings img,
.delivery img {
  width: 5rem;
}

.services {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.exams,
.fittings,
.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto 3rem;
  height: 8rem;
}

.byline {
  text-align: center;
}

/* Philosophy and Appointments */

.info span {
  background-color: cadetblue;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}

.philosophy span {
  padding-right: 2.5rem;
}

.info p {
  margin-top: 1rem;
}

section {
  width: 40%;
  margin-left: 5%;
}

.info {
  display: flex;
  margin-bottom: 5rem;
  margin-top: 0;
}

/* Footer */

footer {
  background-color: azure;
  height: 9.5rem;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  padding-left: 4rem;
}

footer span {
  color: black;
  padding-left: 1rem;
}

/* Responsive Tablet (portrait) */

@media only screen and (max-width: 768px) {
  .container {
    position: inherit;
  }
  .main {
    max-width: 100%;
  }
  header {
    height: 22rem;
  }
  .banner {
      top: 5rem;
      left: 8rem;
  }
  h1 {
    font-size: 1.33rem;
    padding: 1.3rem 3rem;
    line-height: 1.5;
  }
  footer img {
    padding-left: 2rem;
  }
}

/* Responsive Mobile */

@media only screen and (max-width:480px) {
  a {
    display: none;
  }
  .menu {
    display: block;
    padding-right: 2rem;
  }
  .logo span {
    display: none;
  }
  header {
    height: 17rem;
    background-position: 20%;
  }
  h1 {
    font-size: 1rem;
    padding: 1rem;
    display: block;
    width: 100%;
    text-align: center;
  }
  .banner {
   top: 9rem;
   left: 0;
  }
  .services {
    flex-direction: column;
    margin-top: 3.77rem;
  }
  .byline {
    font-size: 0.77rem;
    padding-top: 0.5rem;
  }
  .exams,
  .fittings,
  .delivery {
    justify-content: flex-start;
    height: auto;
    margin-bottom: 1.54rem;
  }
  .info {
    display: block;
  }
  section {
    width: 100%;
    margin-bottom: 4rem;
    margin-left: 0%;
  }
  .info span {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }
  .info p {
    font-size: 0.77rem;
    padding: 0 0.5rem;
  }
  footer span {
    display: none;
  }
  footer {
    justify-content: center;
  }
  footer img {
    padding: 0;
  }
}
