/* Universal styles */

html,
body {
  font-size: 18px;
  line-height: 1.4;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Company Header and Navigation */

header {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  padding: 1rem;
}

.menu {
  display: none;
}
