/* Universal styles */

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.main {
  max-width: 960px;
  margin: 0 auto;
}

span {
  color: white;
}

/* Company Header and Navigation */

.container {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 1rem;
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

.menu {
  display: none;
}

/* Banner */

header {
  background-image: url(../images/glasses-bg.png);
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin: 0;

}

.banner {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10rem;
  left: 12.5rem;
}

/* Services */

.exams img {
  width: 3.5rem;
}

.fittings img,
.delivery img {
  width: 5rem;
}

.services {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.exams,
.fittings,
.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto 3rem;
  height: 8rem;
}

.byline {
  text-align: center;
}

/* Philosophy and Appointments */

.info span {
  background-color: cadetblue;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}

.philosophy span {
  padding-right: 2.5rem;
}

.info p {
  margin-top: 1rem;
}

section {
  width: 40%;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}

/* Footer */
